Package: imgui
Version: 1.90
Port-Version: 3
Depends: vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: c2fb44cb6818cd447bf4b22bc75e80d46f97701bb67b92f10844fbc18429b263
Description: Bloat-free Immediate Mode Graphical User interface for C++ with minimal dependencies.
